:root {
/*#############################
    Colors
#############################*/
    --primary1: hsl(259, 100%, 65%);
    --primary2: hsl(0, 100%, 67%);

    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);

    --font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*#############################
    Typography
#############################*/

.light-italic {
    font-family: var(--font);
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    color: var(--primary2)
}

.medium {
    font-family: var(--font);
    font-weight: 700;
}

.bold-italic {
    font-family: var(--font);
    font-weight: 800;
    font-style: italic;
    font-size: 100px;
    letter-spacing: 1px;
}

.input-label {
    letter-spacing: .2em;
    font-size: 14px;
    padding-bottom: .5em;
    color: var(--smokeGrey);
}

/*#############################
    LAYOUT
#############################*/
body {
    min-height: 100vh;
    display: grid;
    place-items: center;

    background-color: var(--offWhite);
}

.content {
    padding: 3.5em 3.5em;
    padding-bottom: 3em;
    width: 100%;
    max-width: 840px;
    border-radius: 20px;
    border-bottom-right-radius: 25%;
    background-color: var(--white);
}

    /*#############################
        Input Container
    #############################*/

    .container-input-main{
        display: flex;
    }

    .container-input-group {
        display: grid;
        margin-right: 2em;
    }

    .input {
        position: relative;
        font-size: 32px;
        max-width: 5em;
        border-radius: .2em;
        border: 2px solid var(--lightGrey);
        padding: .3em;
        padding-left: .6em;
        color: var(--offBlack);
    }

    .input:focus{
        outline: none;
        border-color: var(--primary1);
    }

    .hidden{
        visibility: hidden;
    }

    .error{
        display: none;
    }

    /*#############################
        Submit Container
    #############################*/

    .container-submit {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .divider {
        width: 100%;
        height: 1px;
        border: 1px solid var(--lightGrey);
        margin: 3em 0;
    }

    .button-submit{
        position: relative;
        padding: 1.5em;
        border-radius: 50%;
        border: none;
        background-color: var(--primary1);
    }

    .button-submit:hover{
        background-color: var(--offBlack);
        cursor: pointer;
    }

    .button-submit img{
        width: 55px;
    }

    /*#############################
        Output Container
    #############################*/
    
    .output {
        line-height: 1.15em;
    }

    .purple{
        color: var(--primary1);
        padding-right: 10px;
        letter-spacing: 0;
    }

/*#############################
    Media Queries
#############################*/

@media (max-width: 700px){
/* layout */
    body{
        margin: 0 1em;
    }

    .content{
        min-width: 100%;
        padding: 3em 4vw;
    }

    .bold-italic{
        font-size: 12vw;
    }

    .light-italic{
        font-size: 3.5vw;    
    }

/* input */
    .container-input-group {
        margin-right: 1em;
    }

    .input {
        max-width: 4em;
        font-size: 6vw;
    }
  
/* submit */
    .divider{
        margin: 4em 0;
    }
    .button-submit{
        position: absolute;
        padding: 1em;
    }
    
    .button-submit img{
        width: 3em;
    }  
}

/*#############################
    Animation
#############################*/

.fade-transition {
    transition: opacity 0.5s ease-in-out;
}